absl-py==2.3.1
accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
anyio==4.12.0
anytree==2.13.0
asttokens @ file:///C:/b/abs_9662ywy9fp/croot/asttokens_1743630464377/work
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.4.0
beautifulsoup4==4.14.3
bert-score==0.3.13
bibtexparser @ git+https://github.com/sciunto-org/python-bibtexparser@fcfb0cb43635595289085ad9fed407fcf1751ee9
bioc==2.1
boto3==1.42.34
botocore==1.42.34
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
cloudpickle @ file:///C:/miniconda3/conda-bld/cloudpickle_1764930556434/work
colorama==0.4.6
comm @ file:///C:/miniconda3/conda-bld/comm_1763119233835/work
conllu==4.5.3
contourpy==1.3.2
cuda-toolkit==13.1.1
cycler==0.12.1
datasets==4.5.0
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421657095/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341256088/work
Deprecated==1.3.1
dill==0.4.0
diskcache==5.6.3
docopt==0.6.2
editdistance==0.8.1
et_xmlfile==2.0.0
exceptiongroup @ file:///C:/miniconda3/conda-bld/exceptiongroup_1761560437674/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061252959/work
filelock==3.20.1
flair==0.15.1
flatbuffers==25.12.19
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.10.0
ftfy==6.3.1
gast==0.7.0
gdown==5.2.1
google-pasta==0.2.0
grpcio==1.76.0
h11==0.16.0
h5py==3.15.1
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
idna==3.11
intervaltree==3.2.1
IProgress==0.4
ipykernel @ file:///C:/miniconda3/conda-bld/ipykernel_1762946093903/work
ipython @ file:///C:/b/abs_8eyhzleyrk/croot/ipython_1734548134403/work
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
jieba==0.42.1
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
jsonlines==4.0.0
jupyter_client @ file:///C:/miniconda3/conda-bld/jupyter_client_1762943187574/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588347534/work
keras==3.12.0
kiwisolver==1.4.9
langdetect==1.0.9
language_tool_python==3.2.2
lemminflect==0.2.3
libclang==18.1.1
lightning-utilities==0.15.2
llama_cpp_python==0.3.16
lru-dict==1.4.1
lxml==6.0.2
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779265381/work
mdurl==0.1.2
ml_dtypes==0.5.4
more-itertools==10.8.0
mpld3==0.5.12
mpmath==1.3.0
multidict==6.7.0
multiprocess==0.70.18
namex==0.1.0
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx==3.4.2
nltk==3.9.2
num2words==0.5.14
numpy==2.2.6
nvidia-cublas==13.2.1.1
nvidia-cuda-cccl==13.1.115
nvidia-cuda-crt==13.1.115
nvidia-cuda-cupti==13.1.115
nvidia-cuda-cuxxfilt==13.1.115
nvidia-cuda-nvcc==13.1.115
nvidia-cuda-nvrtc==13.1.115
nvidia-cuda-opencl==13.1.115
nvidia-cuda-profiler-api==13.1.115
nvidia-cuda-runtime==13.1.80
nvidia-cuda-sanitizer-api==13.1.118
nvidia-cuda-tileiras==13.1.80
nvidia-cufft==12.1.0.78
nvidia-curand==10.4.1.81
nvidia-cusolver==12.0.9.81
nvidia-cusparse==12.7.3.1
nvidia-npp==13.0.3.3
nvidia-nvfatbin==13.1.115
nvidia-nvjitlink==13.1.115
nvidia-nvjpeg==13.0.3.75
nvidia-nvml-dev==13.1.115
nvidia-nvptxcompiler==13.1.115
nvidia-nvtx==13.1.115
nvidia-nvvm==13.1.115
OpenHowNet==2.0
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.18.0
packaging==25.0
pandas==2.3.3
parso @ file:///C:/miniconda3/conda-bld/parso_1762781925562/work
patsy==1.0.2
pillow==12.0.0
pinyin==0.4.0
platformdirs @ file:///C:/miniconda3/conda-bld/platformdirs_1762356608986/work
pptree==3.1
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745021230/work
propcache==0.4.1
protobuf==6.33.2
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896539676/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067068391/work
pyarrow==23.0.0
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431425987/work
pylatexenc==2.10
pyparsing==3.3.1
PySocks==1.7.1
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
pytorch_revgrad==0.2.0
pytz==2025.2
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
PyYAML==6.0.3
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375610449/work
regex==2025.11.3
requests==2.32.5
rich==14.2.0
s3transfer==0.16.0
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
segtok==1.5.11
sentencepiece==0.2.1
shellingham==1.5.4
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
sortedcontainers==2.4.0
soupsieve==2.8.3
spyder-kernels @ file:///C:/b/abs_e788a8_4y9/croot/spyder-kernels_1691599588437/work
sqlitedict==2.1.0
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067051465/work
statsmodels==0.14.6
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.3.0
terminaltables==3.1.10
textattack==0.3.10
threadpoolctl==3.6.0
tokenizers==0.22.1
toml==0.10.2
torch==2.9.1+cu128
torchmetrics==1.8.2
torchvision==0.24.1+cu128
tornado @ file:///C:/Users/task_176599267555405/croot/tornado_1765992779662/work
tqdm==4.67.1
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
transformer-smaller-training-vocab==0.4.2
transformers==4.57.3
typer-slim==0.21.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
wcwidth @ file:///C:/b/abs_0c8p4c33bp/croot/wcwidth_1750352902378/work
Werkzeug==3.1.4
Wikipedia-API==0.8.1
word2number==1.1
wrapt==2.0.1
xxhash==3.6.0
yarl==1.22.0
